<!DOCTYPE html>
<html>
   <head>
      <title>Info Page</title>
       <link rel="stylesheet" type="text/css" href="css/style.css">
       <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
       <script src="js/function.js">
       </script>
   </head>
   <body>
      <h1></h1>

      <form method="POST" action="/request">
         <p>
            <select name="request_method">
               <option value="post">Post</option>
               <option value="get">Get</option>
               <option value="delete">Delete</option>
               <option value="put">Put</option>
               <option value="patch">Patch</option>
            </select>
         </p>

         <div class="input_fields_wrap">
             <button class="add_field_button">Add More Fields</button>
         </div>

         <p>path: <input type="text" name="path">
         <p/>
         <!-- <p>header: <input type="text" name="post[headers][autenticacao]"></p>
         <p>header: <input type="text" name="post[headers][frango]"></p> -->

         <p>body: <textarea rows="4" name="body" cols="50"></textarea>
         </p>
         <input type="submit">
      </form>

      <form method="POST" action="/script">
         <p>script: <textarea rows="15" name="script" cols="100"></textarea></p>
         <input type="submit">
      </form>
   </body>
</html>
