<!DOCTYPE html>
<html>
   <head>
      <title>Info Page</title>
       <link rel="stylesheet" type="text/css" href="css/style.css">
       <script src="js/function.js"></script>
   </head>
   <body>
      <h1>Frango Robo</h1>

      <fieldset id="buildyourform">
          <legend>Build your own form!</legend>
      </fieldset>
      <input type="button" value="Preview form" class="add" id="preview" />
      <input type="button" value="Add a field" class="add" id="add" />

      <form method="POST" action="/request">
         <p>
            <select name="request_method">
               <option value="post">Post</option>
               <option value="get">Get</option>
               <option value="delete">Delete</option>
               <option value="put">Put</option>
               <option value="patch">Patch</option>
            </select>
         </p>
         <p>path: <input type="text" name="path">
         <p/>
         <!-- <p>header: <input type="text" name="post[headers][autenticacao]"></p>
         <p>header: <input type="text" name="post[headers][frango]"></p> -->

         <p>body: <textarea rows="4" name="body" cols="50">
            </textarea>
         </p>
         <input type="submit">
      </form>
   </body>
</html>
